<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/index_setting.css">
</head>
<body style="background-color:#658bb2">
<form action="" method="post">
    <div class="Container" style="color:#ffffff">
        <p>Twitter username:</p>
        <div class="inputBox">
            <input type="text" name="id" class="username" placeholder="@Somebody">
            <input type="submit" name="submit">
        </div>
    </div>
</form>
</body>
</html>