<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="google">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style id="__________cytoscape_stylesheet">.__________cytoscape_container { position: relative; }</style> -->
    <!--import d3 library-->
    <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
    <!--import svg-->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" ></svg>
    <!-- import cytpscape-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js"></script> -->

    <!-- css -->
    <link href="{{ url_for('static',filename='circle.css') }}" rel="stylesheet" />
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <!-- 讀取json資料-->
    <ul class="circle-container" >
        {% for key in data.keys() %}
            <li><img src ="{{data[key].url}}"></li>
        {%endfor%}
    </ul>
</body>
</html>